---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome to my blog!</h2>
	<div class="container">
		<p>I'm sure I'll add more content soon...</p>
		<img id="profile-picture" src="/prof_temple.jpg" alt="My Profile Picture" width="200" height="200" />
	</div>
</BaseLayout>